#Keyboard {
    /* changing where the keyboard goes relative to the webpage */
    color:black;
    text-align: center;
}

.letters {
    /* Text properties */
    font-size: 14px;
    font-weight: bold;  
    font-family: "Century Gothic";
    background-color: lightgray;
    color: black;
    /* Shape properties */
    cursor: pointer;
    text-decoration: none;
    /* Position properties */
    margin:3px;
    width:42px;
    height:54px;
    /* Border properties */
    border-color:transparent;
    border-style:ridge;
    border-radius: 5px;
}

.letterEnter {
    width:62px;
}
.letterBkspc {
    display:inline-block;
    font-size:26px;
    top:5px;
    width:62px;    
}
.firstRowLetters {
    display:block;
    margin-bottom:1px;
}
.secondRowLetters {
    display:block;
    margin-bottom:1px;
}
.thirdRowLetters {
    display:block;
}

@media screen and (max-width: 600px) {      
    .letters {
        /* Text properties */
        font-size: 8px;
        width:33px;
        height:45px;
    }
    .letterEnter {
        width:45px;
    }

    .letterBkspc {
        top:0; 
        width:53px;  
    }
}

@media screen and (max-width: 400px) {      
    .letters {
        /* Text properties */
        font-size: 8px;
        width:30px;
        height:37px;
    }
    .letterEnter {
        width:42px;
    }

    .letterBkspc {
        width:42px;  
    }
}

@media screen and (max-width: 1280px) and (max-height: 700px) {      

    .letters {
        /* Text properties */
        font-size: 10px;
        width:34px;
        height:45px;
    }
    .letterEnter {
        width:44px;
    }

    .letterBkspc {
        width:44px;  
    }
}