.square {
    height: 70px;
    width: 70px;
    border: 1px solid #bebebe;
    color: Black;
    background-color:white;
  
    font-family: "Franklin Gothic Medium";
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 16px;
    margin:3px;
}

@media screen and (max-width: 600px) {   
    .square {
        height: 55px;
        width: 55px;
        font-size: 20px;
    }   
}

@media screen and (max-height: 600px) {   
    .square {
        height: 55px;
        width: 55px;
        font-size: 20px;
    }   
}

@media screen and (max-width: 1280px) and (max-height: 700px) {      

    .square {
        height: 60px;
        width: 60px;
        font-size: 25px;
    } 
}